Checks: >
    *,
    -llvmlibc-*,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
    -readability-magic-numbers,
    -readability-convert-member-functions-to-static,
    -fuchsia-default-arguments-calls,
    -modernize-use-trailing-return-type,
    -hicpp-no-array-decay,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -altera-unroll-loops,
    -cppcoreguidelines-avoid-magic-numbers,

CheckOptions:
    -
        key : readability-identifier-naming.PrivateMemberCase
        value : lower_case
    -
        key : readability-identifier-naming.PrivateMemberSuffix
        value : _
