Checks: >
    *,
    -llvmlibc-*,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
    -readability-magic-numbers,
    -readability-convert-member-functions-to-static,
    -fuchsia-default-arguments-calls,
    -modernize-use-trailing-return-type,
    -altera-unroll-loops,
    -cppcoreguidelines-avoid-magic-numbers,
    -altera-id-dependent-backward-branch,
    -readability-isolate-declaration,
    -performance-inefficient-vector-operation,
    -altera-struct-pack-align,
    -performance-unnecessary-value-param,
    -bugprone-narrowing-conversions,
    -misc-const-correctness,
    -misc-unused-parameters,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-narrowing-conversions,
    -readability-implicit-bool-conversion,
    -bugprone-easily-swappable-parameters,

CheckOptions:
    -
        key : readability-identifier-naming.PrivateMemberCase
        value : lower_case
    -
        key : readability-identifier-naming.PrivateMemberSuffix
        value : _
